body {
  font-family: $textFont;
  font-size: toRem(22);
  line-height: $baseLineheight;
  letter-spacing: 0.22px;
  color: $mainColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titleFont;
  color: $titleColor;
}

h1 {
  font-size: toRem(80);
  line-height: 1.2;
}

h2 {
  font-size: toRem(50);
  line-height: 1.3;
}

h3 {
  font-size: toRem(25);
  line-height: $baseLineheight;
}
