// Fonts
$textFont: "Jost", sans-serif;
$titleFont: "DM Serif Display", serif;
$baseLineheight: 1.5;

// Colors
$mainColor: #4d5053;
$titleColor: #292f36;
$white: #fff;
$orange: #cda274;
$orange-light: #f4f0ec;

// Sizes
$paddingTop80: toRem(80);
$paddingTop100: toRem(100);
$paddingTop130: toRem(140);
